footer.foot
    div.container
        span.foot__site-copyright
            |© ООО «Кристалл»
        div.foot__contacts
            span.foot__address
                |Екатеринбург, 9 км. Сибирского тракта, ул.МОПРа, 1
            a.foot__phone(href="tel:")
                |+7-343-247-21-07