header.head
    div.head__bar
        div.head__burger.js-burger
            div.head__burger-default
                div.head__burger-default-line
            div.head__burger-crossed
        div.head__langs
            ul.head__langs-list
                li.head__langs-item
                    a.head__langs-link(href="")
                        |Eng
                li.head__langs-item
                    a.head__langs-link(href="")
                        |中文
        div.head__logo
            div.logo
                a.logo__link(href="") 
                    img.logo__sign-image(src="images/logo-sign.svg", alt="")
                img.logo__description-image(src="images/logo-description.svg", alt="")
        div.head__contacts
            a.head__phone(href="tel:")
                |+7-343-247-21-07
            a.head__link(href="") 
                |Схема проезда
    div.head__menu
        nav.menu
            div.container
                div.menu__cols
                    div.menu__col
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="")
                                    |Бани
                                ul.menu__submenu-list
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Рыбацкая
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Охотничья
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Сибирская
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Чапаевская
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Купеческая
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Боярская
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Царская
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Таежная
                            li.menu__item
                                a.menu__link(href="")
                                    |Наши веники
                            li.menu__item
                                a.menu__link(href="")
                                    |Подари баню
                    div.menu__col
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="")
                                    |Мероприятия
                                ul.menu__submenu-list
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Архив мероприятий
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Социальные проекты
                            li.menu__item
                                a.menu__link(href="")
                                    |События
                            li.menu__item
                                a.menu__link(href="")
                                    |Услуги
                                ul.menu__submenu-list
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Массаж
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Спа-процедуры
                                    li.menu__submenu-item
                                        a.menu__submenu-link(href="")
                                            |Парения
                            li.menu__item
                                a.menu__link(href="")
                                    |Органическая косметика
                    div.menu__col
                        div.menu__contacts
                            a.menu__phone(href="tel:")
                                |+7-343-247-21-07
                            span.menu__address
                                |Екатеринбург, 9 км. Сибирского тракта, ул. МОПРа, 1
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="")
                                    |Контакты
                            li.menu__item
                                a.menu__link(href="")
                                    |Забронировать баню