doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/choices.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Чапаевские Бани
    body.body
        //= partials/header.pug
        main.main
            section.inner-intro
                div.container
                    div.inner-intro__breadcrumbs
                        div.breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="")
                                        |Главная
                    h1.common__h1-heading.inner-intro__heading
                        |Очень-очень большой заголовок первого уровня
            section.default.default--paddings
                div.container
                    div.common__wysiwyg.default__wysiwyg
                        p
                            |«Чапаевские бани» в г. Екатеринбурге – гостеприимный банно-оздоровительный комплекс, расположенный на 9 км. Сибирского тракта. Уютные банные домики, оборудованные в лучших традициях русской бани, встречают посетителей ароматом натурального сруба, березовыми дровами, особой атмосферой исконного деревенского парения. Структуру комплекса составляют 11 уникальных построек, переступив порог которых легко очутиться в рыбацкой избушке, боярских палатах или просторных комнатах царского терема. Настоящий рай для ценителей традиций и легкого пара!
                        img(src="images/media/default-image-01.jpg", alt="")
                        p
                            |Русские бани в Екатеринбурге построены по всем традиционным правилам и канонам: помещения срубов имеют две части – предбанные покои и комнату для парилки. Гостей встречает уютный, стилизованный под старину интерьер, бревенчатая парная с каменной печью и мягким настилом из ароматного и пряного сена.
                        p
                            |Гостевые комнаты обставлены со славянским колоритом и включают все необходимое для комфортного времяпровождения отдыхающих.
                        h2
                            |Средний заголовок второго уровня
                        p
                            |Мы ценим дружбу и общение, стараемся развивать семейные традиции. Организация уникальные мероприятия для всей самьи и участвуем в социальных проектах. Вы можете купить билет на любое мероприятие или заказать проведение своего. Гостевые комнаты обставлены со славянским колоритом и включают все необходимое для комфортного времяпровождения отдыхающих.
                        ul
                            li
                                |Живописная обстановка – банные домики расположены в спокойном и тихом уголке зеленой рощи, за пределами шумного мегаполиса.
                            li
                                |Уютные гостевые комнаты с теле/радио аппаратурой, комфортной меблировкой и обеденной зоной. У нас можно поиграть в бильярд, приготовить барбекю на тенистой террасе и расслабиться под треск поленьев камина.
                            li
                                |Доступные и вариативные цены – наши русские бани в Екатеринбурге отличает демократичная стоимость, радушная система акций и спецпредложений.
                        p
                            |Стремитесь полноценно отдохнуть от городской суеты, провести время с пользой для здоровья и настроения – добро пожаловать в традиционные русские бани Екатеринбурга на Сибирском тракте! Забронировать банный домик можно по телефонам или на сайте онлайн.
                        h3
                            |Небольшой заголовок третьего уровня
                        p
                            |Мы ценим дружбу и общение, стараемся развивать семейные традиции. Организация уникальные мероприятия для всей самьи и участвуем в социальных проектах. Настоящая русская баня на дровах в Екатеринбурге – отличное место, в котором комфортно отдохнуть всей семьей, провести деловые переговоры или просто расслабиться в приятной компании.
                        div
                            div.table-scroller
                                table
                                    tr
                                        th
                                            |Баня
                                        th
                                            |Кол-во гостей
                                        th
                                            |Стоимость
                                    tr
                                        td
                                            |Рыбацкая
                                        td
                                            |до 6-ти человек
                                        td
                                            |от 1600 р/час   
                                    tr
                                        td
                                            |Охотничья
                                        td
                                            |до 6-ти человек
                                        td
                                            |от 1600 р/час  
                                    tr
                                        td
                                            |Сибирская
                                        td
                                            |до 8-ми человек
                                        td
                                            |от 1900 р/час  
                                    tr
                                        td
                                            |Славянская
                                        td
                                            |до 10-ти человек
                                        td
                                            |от 2100 р/час  
                                    tr
                                        td
                                            |Чапаевская
                                        td
                                            |до 10-ти человек
                                        td
                                            |от 2100 р/час
                        p
                            |Вы можете купить билет на любое мероприятие или заказать проведение своего. Гостевые комнаты обставлены со славянским колоритом и включают все необходимое для комфортного времяпровождения отдыхающих. Стремитесь полноценно отдохнуть от городской суеты, провести время с пользой для здоровья и настроения – добро пожаловать в традиционные русские бани Екатеринбурга на Сибирском тракте! Забронировать банный домик можно по телефонам или на сайте онлайн.

        //= partials/footer.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="script/vendor.js" type="text/javascript")
        script(src="script/script.js")