doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/choices.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Чапаевские Бани
    body.body
        //= partials/header.pug
        main.main
            section.inner-intro
                div.container
                    div.inner-intro__breadcrumbs
                        div.breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="")
                                        |Главная
                    h1.common__h1-heading.inner-intro__heading
                        |Специалисты
            section.workers.workers--paddings
                div.container
                    ul.workers__list
                        li.workers__item
                            div.worker                       
                                div.worker__cols
                                    div.worker__col
                                        span.worker__name
                                            |Константин
                                        span.worker__position
                                            |Мастер пара
                                        div.common__description.common__description--black.worker__description
                                            p
                                                |Константин – единственный из нашей команды, кто назвал баню не только работой, но и хобби, выросшем из детства.
                                    div.worker__col
                                        div.worker__image-container
                                            div.worker__image-wrapper
                                                img.worker__image(src="images/media/worker-image-01.jpg", alt="") 
                                    div.worker__col
                                        div.common__description.common__description--black.worker__description
                                            p
                                                |Константин знает про баню всё, и слушать его очень интересно.
                                            p
                                                |"Отец первый раз привёл меня в баню, когда мне было 5 лет и она полностью подходила под описание детской страшилки. Только потом я узнал, что это баня по-чёрному. Побывав почти во всех банях мира, я отдаю предпочтение именно этой классической бане. Знаете почему?
                                            p
                                                |Чёрная топка покрыта дёгтем. Он витает в воздухе и оседает на стенах бани вместе с сажей. По составу дёготь – набор углеводородов. Они обеззараживают. Поэтому дегтярное мыло такое полезное."
                                            p
                                                |"Отец первый раз привёл меня в баню, когда мне было 5 лет и она полностью подходила под описание детской страшилки. Только потом я узнал, что это баня по-чёрному. Побывав почти во всех банях мира, я отдаю предпочтение именно этой классической бане. Знаете почему?
                                            p
                                                |Чёрная топка покрыта дёгтем. Он витает в воздухе и оседает на стенах бани вместе с сажей. По составу дёготь – набор углеводородов. Они обеззараживают. Поэтому дегтярное мыло такое полезное."
                                            p
                                                |"Отец первый раз привёл меня в баню, когда мне было 5 лет и она полностью подходила под описание детской страшилки. Только потом я узнал, что это баня по-чёрному. Побывав почти во всех банях мира, я отдаю предпочтение именно этой классической бане. Знаете почему?
                                            p
                                                |Чёрная топка покрыта дёгтем. Он витает в воздухе и оседает на стенах бани вместе с сажей. По составу дёготь – набор углеводородов. Они обеззараживают. Поэтому дегтярное мыло такое полезное."
                        //li.workers__item
                            div.worker
                                div.worker__cols
                                    div.worker__col
                                        span.worker__name
                                            |Иван
                                        span.worker__position
                                            |Мастер пара
                                        div.common__description.common__description--black.worker__description
                                            p
                                                |Хобби детства – компьютеры и программным ремонт. Но на сегодняшний день Иван всецело увлечён баней и о хобби вспоминает только, когда близкие люди просят его о помощи.
                                    div.worker__col
                                        div.worker__image-container
                                            div.worker__image-wrapper
                                                img.worker__image(src="images/media/worker-image-02.jpg", alt="")
                                    div.worker__col
                                        div.common__description.common__description--black.worker__description
                                            p
                                                |Однажды, случайно сломав свой новый ноутбук, пришлось восстанавливать работоспособность системы Windows в одиночку (без помощи знакомых и интернета). "После этого случая появилось чувство уверенности в том, что я понимаю в программном ремонте компьютера",- говорит Иван. "Этот навык превратился в хобби и я стал помогать своим знакомым восстанавливать работоспособность системы".
                                            p
                                                |В шутку Иван называет себя" аникейщик" (от слов press any key-нажмите любую клавишу для продолжения).
                                            p
                                                |Однажды, случайно сломав свой новый ноутбук, пришлось восстанавливать работоспособность системы Windows в одиночку (без помощи знакомых и интернета). "После этого случая появилось чувство уверенности в том, что я понимаю в программном ремонте компьютера",- говорит Иван. "Этот навык превратился в хобби и я стал помогать своим знакомым восстанавливать работоспособность системы".
                                            p
                                                |В шутку Иван называет себя" аникейщик" (от слов press any key-нажмите любую клавишу для продолжения).
                        //li.workers__item
                            div.worker
                                div.worker__cols
                                    div.worker__col
                                        span.worker__name
                                            |Влад
                                        span.worker__position
                                            |Мастер пара
                                        div.common__description.common__description--black.worker__description
                                            p
                                                |Увлечён пешими походами в любое время года.
                                    div.worker__col
                                        div.worker__image-container
                                            div.worker__image-wrapper
                                                img.worker__image(src="images/media/worker-image-03.jpg", alt="")
                                    div.worker__col
                                        div.common__description.common__description--black.worker__description
                                            p
                                                |Всё начиналось в старших классах. В советском журнале для подростков "Сделай сам" Влад увидел статью о туризме. Тогда в магазинах было сложно что-то найти, многое приходилось делать самому. Первое что сделал - это снегоступы.
                                            p
                                                |Самым запоминающимся стал поход по небольшому маршруту в январе, в тридцатипятиградусный мороз. Насмотревшись обучающих видео, пытался самостоятельно построить временное жилище по типу эскимоского иглу, но столкнулся с тем что в -35 снег имеет другие свойства нежели в -15. После многих попыток почти через сутки было решено вернуться обратно.
                        //li.workers__item
                            div.worker
                                div.worker__cols
                                    div.worker__col
                                        span.worker__name
                                            |Антон
                                        span.worker__position
                                            |Мастер пара
                                        div.common__description.common__description--black.worker__description
                                            p
                                                |Глядя на фото, можно подумать, что в «Чапаевские бани» заглянул шеф-повар из ресторана "Пале Рояль". Однако, это не так. Наш мастер пара Антон очень любит готовить и делает это постоянно. 
                                    div.worker__col
                                        div.worker__image-container
                                            div.worker__image-wrapper
                                                img.worker__image(src="images/media/worker-image-04.jpg", alt="")                   
                                    div.worker__col
                                        div.common__description.common__description--black.worker__description
                                            p
                                                |На вопросы: откуда? как? почему? Антон отвечает: "Родился и вырос в семье, где было очень много женщин. Свою первую яичницу приготовил в кружке, правда не смог оценить её вкус - было несъедобно". Но начало было положено, и в 10 лет Антон испёк свои первые пирожки.
                                            p
                                                |Сейчас он готовит для семьи, экспериментирует, любит армянскую кухню и утверждает, что может приготовить блюдо из любой кухни мира! 
                        //li.workers__item
                            div.worker
                                div.worker__cols
                                    div.worker__col
                                        span.worker__name
                                            |Роман
                                        span.worker__position
                                            |Мастер пара
                                    div.worker__col
                                        div.worker__image-container
                                            div.worker__image-wrapper
                                                img.worker__image(src="images/media/worker-image-05.jpg", alt="")
                                    div.worker__col
                                        div.common__description.common__description--black.worker__description
                                            p
                                                |Даже в свадебном путешествии в городе Сочи Роман не изменил своему хобби – катанию на сноуборде! Заряженный доской Burton, покорил высоту 2256м над уровнем моря и вернулся закрывать сезон в уральских горах. С новыми силами и в новом статусе Роман снова в команде!
        //= partials/footer.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="script/vendor.js" type="text/javascript")
        script(src="script/script.js")