.drop-menu
    position relative
    display inline-block
    text-align center

    &__hint
        position relative
        z-index 1
        font-family "ArnoPro"
        font-size 21px
        line-height 27px
        font-weight 300
        color white
        cursor pointer
        @media laptop
            font-size 18px
            line-height 24px
    
        &::before,
        &::after
            content ""
            position absolute
            top 9px
            display block
            width 50px
            height 1px
            background-color rgba(255 255 255 .15)
            transition width .3s 0s ease
            @media laptop
                top 8px

        &::before
            right calc(100% + 10px)

        &::after
            left calc(100% + 10px)

        &:hover::before,
        &:hover::after
            width 30px

    &__list
        position absolute
        top 27px
        left 50%
        transform translateX(-50%)
        z-index 0
        width auto
        margin 0
        padding 46px
        list-style none
        background-color white
        opacity 0
        visibility hidden
        transition opacity .5s 0s ease, visibility 0s .5s linear, top .5s 0s ease

        &::before
            content ""
            position absolute
            top -26px
            left 50%
            transform translateX(-50%)
            width 100%
            height 26px
            display block

    &__item:not(:last-child)
        margin 0 0 8px 0

    &__link 
        font-family "ArnoPro"
        font-size 21px
        line-height 27px
        font-weight 300
        color black
        text-decoration none
        outline none
        @media laptop
            font-size 18px
            line-height 24px

.drop-menu:hover
    & .drop-menu__list
        top 47px
        opacity 1
        visibility visible
        transition visibility 0s 0s linear, opacity .5s 0s ease, top .5s 0s ease
